@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.body{
    background-color: rgb(248, 206, 191);   
}
.container{
    display: inline-flex;
}
.navbar{
    display:flex;
    justify-content: space-evenly;
    /* margin-top: 5px; */
}
.navbar ul {
    list-style: none;
    display: flex;
}
.navbar ul li{
    padding: 5px 5px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.logo{
    display:flex;
}
.convo1{
    display: flex;
    margin-left: 400px;
}
.main{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}
.para{
    align-self: center;
    margin-left: 76px;
}
.para h1{
    font-size: 40px;
}
.para p{
    font-size: 10px;
}
.btn{
    background-color: orangered;
    color: white;
    border-radius: 10px;
    padding: 0px 35px;
}
.images{
    display: flex;
    margin: 70px 0px;
    padding: 30px;
}
.img{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.im1{
    flex-basis: 30%;
    min-width: 250px;
}
.im1 img{
    width: 100%;
}
.small{
    display: flex;
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
}
.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col4 img{
    width: 100%;
}
.row{
    display: flex;
    justify-content: center;
    align-content: center;
}
.rating{
    justify-content: center;
}
.heading{
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.col4 h4{
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    color: black;
    font-size: bold;
}
.mnb .rating{
    display: flex;
    justify-content: center;
    align-content: center;
}
.mnb p{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 12px;
}
.mnb .rating{
    color: orangered;
}
.orange{
    width: 14vw;
    height: 2px;
    background-color: orange;
    margin-bottom: 50px;
    transform:translateX(459px);
}
.row img:hover{
    transform: translateY(-5px);
}
.orange2{
    width: 14vw;
    height: 2px;
    background-color: orange;
    margin-bottom: 50px;
    transform:translateX(468px);
}
.col5{
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
}
.col5 img{
    width: 100%;
}
.col5 h4{
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    color: black;
    font-size: bold;
}
.offer{
    background-color:rgb(248, 206, 191) ;
}
.row2{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 45px;
}
.col4 h1{
    font-size: 33px;
    font-weight: bold;
    margin-top: 0px;
}
.row2 .col4 p{
   font-size: 14px;
   margin: 0px 0px 3px;
}
small{
    color:rgb(12, 9, 9);
}
.col4 .btn{
    background-color: orangered;
    color: white;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 20px 40px;
}

.opinion .col4{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.opinion .col4 img{
   width: 50px;
   margin-top: 20px;
   border-radius: 50%;
}
.opinion .col4 p{
    padding-top: 15px;
    font-size: 12px;
}
.opinion .rating{
    color: orangered;
}
.fas.fa-quote-left{
    font-size: 30px;
    color: orangered;
}
.opinion h3{
    font-size: 19px;
    font-weight: 600;
}
.opinion .col4:hover{
     transform: translateY(-10px);
}
.brands{
    margin: 10px 0px;
}
.brands .col5{
    width: 160px;
}
.brands .col5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.brands .col5 img:hover{
    filter: grayscale(0);
}
.brands .row3{
    display: flex;
    justify-content: center;
    align-content: center;
}
.small2{
    display: flex;
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
}
.small2 img{
    flex-basis: 20%;
    width: 100%;
}
.footer{
    max-width: 100vw;
    min-height: 25vh;
    background-color: black;
    color: white;
    
}
.footer .row2{
    margin-top: 0px;
}
.col1-3 li{
    list-style: none;
}
.col1-4 li{
    list-style: none;
}
.logo img{
    width: 140px;
    margin-top: 10px;
    padding-left: 15px;
}
.footer h3{
    font-size: 12px;
}
.col1-1,.col1-2,.col1-3,.col1-4{
    padding: 0px 30px;
}
.col1-2 p{
    width: 300px;
    text-align: center;
}
.col1-3,.col1-4{
    text-align: center;
}
.col1-3 h3{
    font-size: 18px;
    font-weight: bold;
}
.col1-1 h3{
    font-size: 18px;
    font-weight: bold;
}
.col1-4 h3{
    font-size: 18px;
    font-weight: bold;
}
.col1-2,.col1-1{
    text-align: center;
}
hr{
    margin-bottom: 0px;
}
.copyright{
    text-align: center;
}
.acart{
    width: 7vw;
    height: 7vh;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0px 50px;
}

.small5{
    display: flex;
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
    margin-top: 15px;
    font-size: 85%;
}